<%- include('partials/header') %>
    <!-- Sidebar -->
    <%- include('partials/sidebar') %>

    <!-- Bookmarks -->
    <div class="bookmarks">
        <div class="movie-image-full">
            <img src="img/back.svg" alt="" class="movie-img">
        </div> 
        <section class="container">
            <div>
                <a href="javascript:void(0)" class="create-bookmark-list">Create New</a>
            </div>
            <div class="bookmark-list"> 
               
              <ul class="items">
                <% for( let i = 0; i < bookmarks.length; i++ ) { %>
                     <li>
                        <a href="bookmarks/<%= bookmarks[i].split(' ').join('-').toLowerCase()%>" class="bookmark-item">
                            <i class="bx bxs-<%= bookmarks[i] %>-ul"></i>
                            <span><%= bookmarks[i]%></span>
                        </a>
                     </li> 
                <% } %>
                <li> 
              </ul>
            </div>
       </section>
    </section>  
        
    </div>

    <!-- Settings Tab -->
    <div class="side-tab hidden-tab settings-tab">
        <div class="tab-inside" tabindex="0">
            <h1 class="tab-title">Settings</h1>
            <div class="menu-tab">
                <ul class="tab-list">
                    <li tabindex="1" ><a tabindex='0' href=""><i class="bx bx-user"></i> <span>Account</span></a></li>
                    <li tabindex="2" ><a tabindex="0" href=""><i class="bx bxs-layout"></i> <span>Interface</span></a></li>
                    <li tabindex="3" ><a tabindex="0" href=""><i class="bx bx-play-circle"></i> <span>Player</span></a></li> 
                </ul>
            </div> 
        </div>

    </div>
 

      <!-- Modal content -->
      <div id="createBookmark" class="modal hidden-modal">
        <div class="modal-content"> 
          <div class="modal-bookmark">
            <form action="bookmarks/create" method="POST">
                <input type="text" class="form-control" name="name"  id="basic-default-name" placeholder="Classics..." />
                <button class="create-bookmark-list"> Create New List</button>
            </form>
          </div>
        </div>      
    </div>

</body>
<script src="style/main.js"></script>
<script src="style/navigator.js"></script>

</html>