<%- include('partials/header') %>
    <!-- Sidebar -->
    <%- include('partials/sidebar') %>
    
    <!-- Bookmarks -->
    <div class="bookmark">
        <div class="movie-image-full">
            <img src="img/back.svg" alt="" class="movie-img">
        </div>
        <!-- <div class="res-image" >
            <img src="img/1.jpg" class="" alt="">
        </div> -->

        <section class="container bookmark-wrapper">
            <div class="heading">
                <h2 class="heading-title"><%= bookmarks[0].bookmark.split('-')[0] %></h2>
            </div> 
           <div class="grid-content"> 

            <% for( let i = 0; i < media.length; i++ ) { %>
                <div class="card-box">
                    <img src="<%= media[i].portraitImage %>" class="card-box-img" alt="">
                    <div class="box-content">
                        <a href="../watch/<%= media[i].slug %>">
                            <h2 class="content-title"><%= media[i].title %></h2>
                        </a>
                        <span class="content-type"><%= media[i].genres.slice(0,3)%></span>
                        <span class="content-duration"><%= media[i].duration %> min</span>
                        <span class="content-rate">Imdb: <%= media[i].rating %></span>
                        <a href="../watch/<%= media[i].slug %>" class="play-btn hidden">
                            <i class="bx bx-right-arrow"></i>
                        </a>
                    </div>
                </div>
            <% } %>

           </div> 
       </section>
 
    </section>  
        
    </div>

    <!-- Settings Tab -->
    <div class="side-tab hidden-tab settings-tab">
        <div class="tab-inside" tabindex="0">
            <h1 class="tab-title">Settings</h1>
            <div class="menu-tab">
                <ul class="tab-list">
                    <li tabindex="1" ><a tabindex='0' href=""><i class="bx bx-user"></i> <span>Account</span></a></li>
                    <li tabindex="2" ><a tabindex="0" href=""><i class="bx bxs-layout"></i> <span>Interface</span></a></li>
                    <li tabindex="3" ><a tabindex="0" href=""><i class="bx bx-play-circle"></i> <span>Player</span></a></li> 
                </ul>
            </div> 
        </div>

    </div>
    <!-- Bookmarks Tab -->
    <div class="side-tab hidden-tab bookmarks-tab">
        <div class="tab-inside" tabindex="0">
            <h1 class="tab-title">Bookmarks</h1>
            <div class="menu-tab">
                <ul class="tab-list">

                    <li tabindex="1" >
                        <label class="label-container" tabindex='0' href="#">
                            <span>My Favorites</span>
                            <input type="checkbox" name="" id=""> 
                            <span class="checkmark"></span>
                        </label>
                    </li>

                    <li tabindex="1" >
                        <label class="label-container" tabindex='0' href="#">
                            <span>Later</span>
                            <input type="checkbox" name="" id=""> 
                            <span class="checkmark"></span>
                        </label>
                    </li>

                    
                    <li tabindex="1" >
                        <label class="label-container" tabindex='0' href="#">
                            <span>Liked</span>
                            <input type="checkbox" name="" id=""> 
                            <span class="checkmark"></span>
                        </label>
                    </li>

                </ul>
            </div> 
        </div>

    </div>

</body>
<script src="../style/swiper-bundle.min.js"></script>
<script src="../style/main.js"></script>
<script src="../style/navigator.js"></script>

</html>