<%- include('partials/header') %>
<!-- Sidebar -->
<%- include('partials/sidebar') %>

    <!-- Home -->
    <div class="home swiper" id="home">
        <div class="swiper-wrapper">
            <% for( let i = 0; i < allMedia.length; i++ ) { %>
               
                <div class="swiper-slide">
                    <div class="home-image-full">
                        <img src="<%= allMedia[i].landscapeImage %>" alt="<%= allMedia[i].title %>" class="home-img">
                    </div>
                    <div class="home-text container">
                        <% if (allMedia[i].season) { %>
                            <div class="tv-details">
                                <img src="img/companies/netflix.png" class="company" alt=""> 
                                <p>Season <%= allMedia[i].season %></p>
                            </div>
                        <% } %>
                        <h1 class="home-title"><%= allMedia[i].title %></h1>
                        <p class="home-imdb"><i class="bx bx-star"></i> <%= allMedia[i].rating %>/10</p>
                        <p class="home-description"><%= allMedia[i].description %></p>
                        <div class="home-links">
                            <div class="home-watch">
                                <a href="watch/<%= allMedia[i].slug %>" class="btn btn-primary"> Watch Now
                                </a>
                            </div>
                            <div class="home-add-bookmark">                 
                                <a href="javascript:void(0)" class="btn btn-outline-bookmark bookmark-btn <% bookmarks.forEach(item => { %>
                                    <% if (item.title === allMedia[i].title) { %>
                                     bookmarked
                                    <% } %>
                                <% }) %>">
                                    <i class="bx bx-bookmark"></i>
                                </a>
                            </div>
                        </div>
                    </div>
    
                </div> 
                <% } %>
        </div>

        <div class="continue-watching">
            <div class="heading">
                <h2 class="heading-title">Continue <span class="main-span">Watching</span></h2>
            </div>
            <!-- Continue watching sliders -->
            
            <div class="watching-list swiper">
                
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="card-box">
                            <img src="img/w1.jpg" class="card-box-img" alt="">
                            <div class="box-content">
                                <h2 class="content-title">Joker</h2>

                                <a href="" class="play-btn hidden">
                                    <i class="bx bx-right-arrow"></i>
                                </a>
                                <div class="timeleft">
                                    <div class="times">
                                        <span>59:05</span>
                                        <span>02:23:45</span>
                                    </div>
                                    <div class="timeline" style="width:65%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-box">
                            <img src="img/w2.jpg" class="card-box-img" alt="">
                            <div class="box-content">
                                <h2 class="content-title">Don't Breathe</h2>

                                <a href="" class="play-btn hidden">
                                    <i class="bx bx-right-arrow"></i>
                                </a>
                                <div class="timeleft">
                                    <div class="times">
                                        <span>59:05</span>
                                        <span>02:23:45</span>
                                    </div>
                                    <div class="timeline" style="width:75%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-box">
                            <img src="img/w3.jpg" class="card-box-img" alt="">
                            <div class="box-content">
                                <h2 class="content-title">Until Dawn</h2>

                                <a href="" class="play-btn hidden">
                                    <i class="bx bx-right-arrow"></i>
                                </a>
                                <div class="timeleft">
                                    <div class="times">
                                        <span>59:05</span>
                                        <span>02:23:45</span>
                                    </div>
                                    <div class="timeline" style="width:65%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-box">
                            <img src="img/w4.png" class="card-box-img" alt="">
                            <div class="box-content">
                                <h2 class="content-title">Spider: No Way Home</h2>

                                <a href="" class="play-btn hidden">
                                    <i class="bx bx-right-arrow"></i>
                                </a>
                                <div class="timeleft">
                                    <div class="times">
                                        <span>59:05</span>
                                        <span>02:23:45</span>
                                    </div>
                                    <div class="timeline" style="width:25%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-box">
                            <img src="img/w5.jpg" class="card-box-img" alt="">
                            <div class="box-content">
                                <h2 class="content-title">Spider: No Way Home</h2>

                                <a href="" class="play-btn hidden">
                                    <i class="bx bx-right-arrow"></i>
                                </a>
                                <div class="timeleft">
                                    <div class="times">
                                        <span>59:05</span>
                                        <span>02:23:45</span>
                                    </div>
                                    <div class="timeline" style="width:35%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-box">
                            <img src="img/w6.jpg" class="card-box-img" alt="">
                            <div class="box-content">
                                <h2 class="content-title">Spider: No Way Home</h2>

                                <a href="" class="play-btn hidden">
                                    <i class="bx bx-right-arrow"></i>
                                </a>
                                <div class="timeleft">
                                    <div class="times">
                                        <span>59:05</span>
                                        <span>02:23:45</span>
                                    </div>
                                    <div class="timeline" style="width:95%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-box">
                            <img src="img/w7.jpg" class="card-box-img" alt="">
                            <div class="box-content">
                                <h2 class="content-title">Spider: No Way Home</h2>

                                <a href="" class="play-btn hidden">
                                    <i class="bx bx-right-arrow"></i>
                                </a>
                                <div class="timeleft">
                                    <div class="times">
                                        <span>59:05</span>
                                        <span>02:23:45</span>
                                    </div>
                                    <div class="timeline" style="width:55%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-box">
                            <img src="img/w8.jpg" class="card-box-img" alt="">
                            <div class="box-content">
                                <h2 class="content-title">Spider: No Way Home</h2>

                                <a href="" class="play-btn hidden">
                                    <i class="bx bx-right-arrow"></i>
                                </a>
                                <div class="timeleft">
                                    <div class="times">
                                        <span>59:05</span>
                                        <span>02:23:45</span>
                                    </div>
                                    <div class="timeline" style="width:55%"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div> 
            
            <!-- If user watched anything, then display it -->

            <!-- <div class="watching-list swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card-box">
                            <img src="img/w1.jpg" class="card-box-img" alt="">
                            <div class="box-content">
                                <h2 class="content-title">Spider: No Way Home</h2>
                                <span class="content-type">Action</span>
                                <span class="content-duration">128 min</span>
                                <a href="" class="play-btn hidden">
                                    <i class="bx bx-right-arrow"></i>
                                </a>
                            </div>
                    </div>
                </div>
                </div>
            </div> -->
        </div>       
    </div>
    
    <% if (allMedia.filter(item => item).length > 0) { %>
        <!-- Popular Section -->
        <section class="popular-section container" id="popular-section">
            <div class="heading">
                <h2 class="heading-title">Popular on <span class="main-span">Dolu</span></h2>
            </div>
            <!-- Content -->
            <!-- Slider main container -->
            <div class="content-1 swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides --> 
                    <% for( let i = 0; i < allMedia.length; i++ ) { %>
                        <% if (allMedia[i].mode === 'Popular') { %>
                            <div class="swiper-slide">
                                <div class="card-box">
                                    <img src="<%= allMedia[i].portraitImage %>" class="card-box-img" alt="">
                                    <div class="box-content">
                                        <h2 class="content-title"><a href="watch/<%= allMedia[i].slug %>"><%= allMedia[i].title %></a></h2>
                                        <span class="content-type"><%= allMedia[i].genres.slice(0,3) %></span>
                                        <span class="content-duration"><%= allMedia[i].duration %> min</span>
                                        <span class="content-rate">Imdb: <%= allMedia[i].rating %></span>
                                        <a href="watch/<%= allMedia[i].slug %>" class="play-btn hidden">
                                            <i class="bx bx-right-arrow"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
    
                </div>
            </div>
        </section>
        <% } %> 

    <% if (interfaceSettingData[0].homeSections.featuredMoviesSection === 'on' && shows.filter(item => item.mode === 'Featured').length > 0) { %>
    <!-- Featured Tv Shows Section -->
    <section class="featured-shows container" id="featured-shows">
        <div class="heading">
            <h2 class="heading-title">Featured Tv Shows</h2>
        </div>

        <div class="grid-content">
 
            <% for( let i = 0; i < shows.length; i++ ) { %>
                <% if (shows[i].mode === 'Featured') { %>
                    <div class="card-box">
                        <img src="<%= shows[i].portraitImage %>" class="card-box-img" alt="">
                        <div class="box-content">
                            <h2 class="content-title"><a href=""><a href="movie-page/<%= shows[i].id %>"><%= shows[i].title %></a></a></h2>
                            <span class="content-type"><%= shows[i].genres.slice(0,3) %></span>
                            <span class="content-duration"><%= shows[i].duration %> min</span>
                            <span class="content-rate">Imdb: <%= shows[i].rating %></span>
                            <a href="" class="play-btn hidden">
                                <i class="bx bx-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                <% } %>
            <% } %>

        </div>
        <div class="next-page">
            <a href="" class="next-btn">All Shows</a>
        </div>
    </section>
    <% } %>
    <!-- Your Watchlist -->
    <section class="fav-list container"> 
        <div class="heading">
            <h2 class="heading-title"><span class="main-span">Your</span> Watchlist</h2>
        </div>
        <div class="your-list swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card-box">
                        <img src="img/w1.jpg" class="card-box-img" alt="">
                        <div class="box-content">
                            <h2 class="content-title">Spider: No Way Home</h2>
                            <span class="content-type">Action</span>
                            <span class="content-duration">128 min</span>
                            <span class="content-list-group"><i class="bx bxs-bookmark"></i></span>
                            <a href="" class="play-btn hidden">
                                <i class="bx bx-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                 </div>

                 <div class="swiper-slide">
                    <div class="card-box">
                        <img src="img/w1.jpg" class="card-box-img" alt="">
                        <div class="box-content">
                            <h2 class="content-title">Spider: No Way Home</h2>
                            <span class="content-type">Action</span>
                            <span class="content-duration">128 min</span>
                            <span class="content-list-group"><i class="bx bxs-bookmark"></i></span>
                            <a href="" class="play-btn hidden">
                                <i class="bx bx-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                 </div>

                 <div class="swiper-slide">
                    <div class="card-box">
                        <img src="img/w1.jpg" class="card-box-img" alt="">
                        <div class="box-content">
                            <h2 class="content-title">Spider: No Way Home</h2>
                            <span class="content-type">Action</span>
                            <span class="content-duration">128 min</span>
                            <span class="content-list-group"><i class="bx bxs-bookmark"></i></span>
                            <a href="" class="play-btn hidden">
                                <i class="bx bx-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                 </div>

                 <div class="swiper-slide">
                    <div class="card-box">
                        <img src="img/w1.jpg" class="card-box-img" alt="">
                        <div class="box-content">
                            <h2 class="content-title">Spider: No Way Home</h2>
                            <span class="content-type">Action</span>
                            <span class="content-duration">128 min</span>
                            <span class="content-list-group"><i class="bx bxs-bookmark"></i></span>
                            <a href="" class="play-btn hidden">
                                <i class="bx bx-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                 </div>

                 <div class="swiper-slide">
                    <div class="card-box">
                        <img src="img/w1.jpg" class="card-box-img" alt="">
                        <div class="box-content">
                            <h2 class="content-title">Spider: No Way Home</h2>
                            <span class="content-type">Action</span>
                            <span class="content-duration">128 min</span>
                            <span class="content-list-group"><i class="bx bxs-bookmark"></i></span>
                            <a href="" class="play-btn hidden">
                                <i class="bx bx-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                 </div>

                 <div class="swiper-slide">
                    <div class="card-box">
                        <img src="img/w1.jpg" class="card-box-img" alt="">
                        <div class="box-content">
                            <h2 class="content-title">Spider: No Way Home</h2>
                            <span class="content-type">Action</span>
                            <span class="content-duration">128 min</span>
                            <span class="content-list-group"><i class="bx bxs-bookmark"></i></span>
                            <a href="" class="play-btn hidden">
                                <i class="bx bx-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                 </div>

                 <div class="swiper-slide">
                    <div class="card-box">
                        <img src="img/w1.jpg" class="card-box-img" alt="">
                        <div class="box-content">
                            <h2 class="content-title">Spider: No Way Home</h2>
                            <span class="content-type">Action</span>
                            <span class="content-duration">128 min</span>
                            <span class="content-list-group"><i class="bx bxs-bookmark"></i></span>
                            <a href="" class="play-btn hidden">
                                <i class="bx bx-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                 </div>

                 <div class="swiper-slide">
                    <div class="card-box">
                        <img src="img/w1.jpg" class="card-box-img" alt="">
                        <div class="box-content">
                            <h2 class="content-title">Spider: No Way Home</h2>
                            <span class="content-type">Action</span>
                            <span class="content-duration">128 min</span>
                            <span class="content-list-group"><i class="bx bxs-bookmark"></i></span>
                            <a href="" class="play-btn hidden">
                                <i class="bx bx-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                 </div>


             </div> 
        </div>
    </section>
    <% if (movies.filter(item => item.mode === 'Featured').length > 0) { %>
    <!-- Featured Movies Section -->
    <section class="featured-movie container" id="featured-movie">
        <div class="heading">
            <h2 class="heading-title">Featured Movies</h2>
        </div>

        <div class="grid-content">

            <div class="card-box">
                <img src="img/1.jpg" class="card-box-img" alt="">
                <div class="box-content">
                    <h2 class="content-title">Spider: No Way Home</h2>
                    <span class="content-type">Action</span>
                    <span class="content-duration">128 min</span>
                    <span class="content-rate">Imdb: 7.5</span>
                    <a href="" class="play-btn hidden">
                        <i class="bx bx-right-arrow"></i>
                    </a>
                </div>
            </div>

            <div class="card-box">
                <img src="img/1.jpg" class="card-box-img" alt="">
                <div class="box-content">
                    <h2 class="content-title">Spider: No Way Home</h2>
                    <span class="content-type">Action</span>
                    <span class="content-duration">128 min</span>
                    <span class="content-rate">Imdb: 7.5</span>
                    <a href="" class="play-btn hidden">
                        <i class="bx bx-right-arrow"></i>
                    </a>
                </div>
            </div>

            <div class="card-box">
                <img src="img/1.jpg" class="card-box-img" alt="">
                <div class="box-content">
                    <h2 class="content-title">Spider: No Way Home</h2>
                    <span class="content-type">Action</span>
                    <span class="content-duration">128 min</span>
                    <span class="content-rate">Imdb: 7.5</span>
                    <a href="" class="play-btn hidden">
                        <i class="bx bx-right-arrow"></i>
                    </a>
                </div>
            </div>

            <div class="card-box">
                <img src="img/1.jpg" class="card-box-img" alt="">
                <div class="box-content">
                    <h2 class="content-title">Spider: No Way Home</h2>
                    <span class="content-type">Action</span>
                    <span class="content-duration">128 min</span>
                    <span class="content-rate">Imdb: 7.5</span>
                    <a href="" class="play-btn hidden">
                        <i class="bx bx-right-arrow"></i>
                    </a>
                </div>
            </div>

            <div class="card-box">
                <img src="img/1.jpg" class="card-box-img" alt="">
                <div class="box-content">
                    <h2 class="content-title">Spider: No Way Home</h2>
                    <span class="content-type">Action</span>
                    <span class="content-duration">128 min</span>
                    <span class="content-rate">Imdb: 7.5</span>
                    <a href="" class="play-btn hidden">
                        <i class="bx bx-right-arrow"></i>
                    </a>
                </div>
            </div>

            <div class="card-box">
                <img src="img/1.jpg" class="card-box-img" alt="">
                <div class="box-content">
                    <h2 class="content-title">Spider: No Way Home</h2>
                    <span class="content-type">Action</span>
                    <span class="content-duration">128 min</span>
                    <span class="content-rate">Imdb: 7.5</span>
                    <a href="" class="play-btn hidden">
                        <i class="bx bx-right-arrow"></i>
                    </a>
                </div>
            </div>

            <div class="card-box">
                <img src="img/1.jpg" class="card-box-img" alt="">
                <div class="box-content">
                    <h2 class="content-title">Spider: No Way Home</h2>
                    <span class="content-type">Action</span>
                    <span class="content-duration">128 min</span>
                    <span class="content-rate">Imdb: 7.5</span>
                    <a href="" class="play-btn hidden">
                        <i class="bx bx-right-arrow"></i>
                    </a>
                </div>
            </div>

            <div class="card-box">
                <img src="img/1.jpg" class="card-box-img" alt="">
                <div class="box-content">
                    <h2 class="content-title">Spider: No Way Home</h2>
                    <span class="content-type">Action</span>
                    <span class="content-duration">128 min</span>
                    <span class="content-rate">Imdb: 7.5</span>
                    <a href="" class="play-btn hidden">
                        <i class="bx bx-right-arrow"></i>
                    </a>
                </div>
            </div>

        </div>
        <div class="next-page">
            <a href="" class="next-btn">All Movies</a>
        </div>
    </section>
    <% } %>
    
    <% if (interfaceSettingData[0].homeSections.topThreeOfDaySection === 'on') { %>
     <!-- Last Three Shows Section -->
    <section class="top-three-of-day" id="last-three">
        <div class="heading container">
            <h2 class="heading-title">Top three of the day</h2>
        </div>
        <div class="wide-card swiper container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->

                <div class="swiper-slide">
                    <div class="card-box">
                        <img src="img/22.jpeg" class="card-box-img" alt="">
                        <div class="special-content">
                            <h2 class="content-title">Stories of The Dark</h2>
                            <h1 class="rank">1</h1>
                            <div class="sub-content">
                                <span class="content-season">Season: <span>2</span></span>
                                <span class="content-duration">Min: <span>48</span></span>
                                <!-- <span class="content-rate">Imdb: <span>7.5</span></span> -->
                                <span class="content-type">Action</span>
                            </div>
                            <p class="content-description">Professor Albus Dumbledore knows the powerful, dark wizard
                                Gellerd Grindewald moving to
                                seize
                                control of the wizarding world.</p>
                                <div class="special-content-btn">
                                <a href="" class="btn btn-primary">
                                    <i class="bx bx-right-arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card-box">
                        <img src="img/23.jpeg" class="card-box-img" alt="">
                        <div class="special-content">
                            <h2 class="content-title">Against Beast</h2>
                            <h1 class="rank">2</h1>
                            <div class="sub-content">
                                <span class="content-season">Season: <span>2</span></span>
                                <span class="content-duration">Min: <span>48</span></span>
                                <!-- <span class="content-rate">Imdb: <span>7.5</span></span> -->
                                <span class="content-type">Action</span>
                            </div>
                            <p class="content-description">Professor Albus Dumbledore knows the powerful, dark wizard
                                Gellerd Grindewald moving to
                                seize
                                control of the wizarding world.</p>
                            <div class="special-content-btn">
                                <a href="" class="btn btn-primary">
                                    <i class="bx bx-right-arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card-box">
                        <img src="img/23.jpeg" class="card-box-img" alt="">
                        <div class="special-content">
                            <h2 class="content-title">Against Beast</h2>
                            <h1 class="rank">3</h1>
                            <div class="sub-content">
                                <span class="content-season">Season: <span>2</span></span>
                                <span class="content-duration">Min: <span>48</span></span>
                                <!-- <span class="content-rate">Imdb: <span>7.5</span></span> -->
                                <span class="content-type">Action</span>
                            </div>
                            <p class="content-description">Professor Albus Dumbledore knows the powerful, dark wizard
                                Gellerd Grindewald moving to
                                seize
                                control of the wizarding world.</p>
                            <div class="special-content-btn">
                                <a href="" class="btn btn-primary">
                                    <i class="bx bx-right-arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>
    <% } %>

    <!-- Your Likes -->
    <section class="fav-list container"> 
        <div class="heading">
            <h2 class="heading-title"><span class="main-span">Your</span> Likes</h2>
        </div>
        <div class="your-list swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card-box">
                        <img src="img/w1.jpg" class="card-box-img" alt="">
                        <div class="box-content">
                            <h2 class="content-title">Spider: No Way Home</h2>
                            <span class="content-type">Action</span>
                            <span class="content-duration">128 min</span>
                            <span class="content-list-group"><i class="bx bxs-heart"></i></span>
                            <a href="" class="play-btn hidden">
                                <i class="bx bx-right-arrow"></i>
                            </a>
                        </div>
                </div>
            </div>
        </div> 
    </section>

    <% if (interfaceSettingData[0].homeSections.showsByCategoriesSection === 'on') { %>
    <!-- Tv Shows by categories -->
    <section class="categories-shows">
        <% for( let i = 0; i < genreSet.slice(0,3).length; i++ ) { %>
            <div class="home-category container">
                <div class="heading">
                    <h2 class="heading-title"><%= genreSet[i].charAt(0).toUpperCase() + genreSet[i].slice(1) %> Shows</h2>
                </div>
    
                <div class="content-1 swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <% shows.forEach(item => { %>
                            <% if (item.genres.includes(genreSet[i])) { %>
                             
                           
                        <div class="swiper-slide">
                            <div class="card-box">
                                <img src="<%= item.portraitImage %>" class="card-box-img" alt="">
                                <div class="box-content">
                                    <a href="watch/<%= item.slug %>">
                                        <h2 class="content-title"><%= item.title %></h2>
                                    </a>
                                    <span class="content-type"><%= item.genres.slice(0,3) %></span>
                                    <span class="content-duration"><%= item.duration %> min</span>
                                    <span class="content-rate">Imdb: <%= item.rating %></span>
                                    <a href="watch/<%= item.slug %>" class="play-btn hidden">
                                        <i class="bx bx-right-arrow"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <% }) %> 
    
                        <div class="swiper-slide">
                            <a href="shows/<%= genreSet[i] %>">
                                <div class="card-box card-more">
                                    <div class="card-more-cover"></div>
                                    <div class="box-content">
                                        <h2 class="content-title">More</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
    
                    </div>
                </div>
    
            </div> 
        <% } %>        
    </section>
    <% } %>
    <!-- TABS -->
    
    <!-- Settings Tab -->
    <div class="side-tab hidden-tab settings-tab">
        <div class="tab-inside" tabindex="0">
            <h1 class="tab-title">Settings</h1>
            <div class="menu-tab">
                <ul class="tab-list">
                    <li tabindex="1" ><a tabindex='0' href=""><i class="bx bx-user"></i> <span>Account</span></a></li>
                    <li tabindex="2" ><a tabindex="0" href=""><i class="bx bxs-layout"></i> <span>Interface</span></a></li>
                    <li tabindex="3" ><a tabindex="0" href=""><i class="bx bx-play-circle"></i> <span>Player</span></a></li> 
                </ul>
            </div> 
        </div>

    </div>
    <!-- Bookmarks Tab -->
    <div class="side-tab hidden-tab bookmarks-tab">
        <div class="tab-inside" tabindex="0">
            <h1 class="tab-title">Bookmarks</h1>
            <div class="menu-tab">
                <ul class="tab-list">

                    <% for( let i = 0; i < user.bookmarks.length; i++ ) { %>
                        <li tabindex="1" >
                            <label class="label-container" tabindex='0' href="#">
                                <span id="<%= user.bookmarks[i] %>"><%= user.bookmarks[i].split('-')[0] %></span>
                                
                                <input type="checkbox" >  
                                <span class="checkmark"></span>
                            </label>
                        </li> 
                    <% } %>

                </ul>
            </div> 
        </div>

    </div>
    

<%- include('partials/footer') %>