<%- include('partials/header') %>
    <!-- Sidebar -->
    <%- include('partials/sidebar') %>


    <!-- Movies -->
    <div class="movies-page">
        <div class="movie-image-full">
            <img src="img/back.svg" alt="" class="movie-img">
        </div> 

        <div class="container movies-wrapper"> 
         <div class="movies-rows">   
            <!-- Recommendations for you -->
            <div class="content-1 swiper">
                <div class="heading">
                    <h3 class="heading-title">Recommendations for you</h3>
                </div> 
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
    
                    <div class="swiper-slide">
                        <div class="card-box">
                            <img src="img/1.jpg" class="card-box-img" alt="">
                            <div class="box-content">
                                <i class="bx bx-time card-bookmark"></i>
                                <h2 class="content-title">Spider: No Way Home</h2>
                                <span class="content-type">Action</span>
                                <span class="content-duration">128 min</span>
                                <span class="content-rate">Imdb: 7.5</span>
                                <a href="" class="play-btn hidden">
                                    <i class="bx bx-right-arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
    
                    <div class="swiper-slide">
                        <div class="card-box">
                            <img src="img/2.jpg" class="card-box-img" alt="">
                            <div class="box-content">
                                <h2 class="content-title">Spider: No Way Home</h2>
                                <span class="content-type">Action</span>
                                <span class="content-duration">128 min</span>
                                <span class="content-rate">Imdb: 7.5</span>
                                <a href="" class="play-btn hidden">
                                    <i class="bx bx-right-arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
    
                    <div class="swiper-slide">
                        <div class="card-box">
                            <img src="img/3.jpg" class="card-box-img" alt="">
                            <div class="box-content">
                                <h2 class="content-title">Spider: No Way Home</h2>
                                <span class="content-type">Action</span>
                                <span class="content-duration">128 min</span>
                                <span class="content-rate">Imdb: 7.5</span>
                                <a href="" class="play-btn hidden">
                                    <i class="bx bx-right-arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
    
                    <div class="swiper-slide">
                        <div class="card-box">
                            <img src="img/4.jpg" class="card-box-img" alt="">
                            <div class="box-content">
                                <h2 class="content-title">Spider: No Way Home</h2>
                                <span class="content-type">Action</span>
                                <span class="content-duration">128 min</span>
                                <span class="content-rate">Imdb: 7.5</span>
                                <a href="" class="play-btn hidden">
                                    <i class="bx bx-right-arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
    
                    <div class="swiper-slide">
                        <div class="card-box">
                            <img src="img/5.jpg" class="card-box-img" alt="">
                            <div class="box-content">
                                <h2 class="content-title">Spider: No Way Home</h2>
                                <span class="content-type">Action</span>
                                <span class="content-duration">128 min</span>
                                <span class="content-rate">Imdb: 7.5</span>
                                <a href="" class="play-btn hidden">
                                    <i class="bx bx-right-arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
    
                    <div class="swiper-slide">
                        <div class="card-box">
                            <img src="img/6.jpg" class="card-box-img" alt="">
                            <div class="box-content">
                                <h2 class="content-title">Spider: No Way Home</h2>
                                <span class="content-type">Action</span>
                                <span class="content-duration">128 min</span>
                                <span class="content-rate">Imdb: 7.5</span>
                                <a href="" class="play-btn hidden">
                                    <i class="bx bx-right-arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
    
                    <div class="swiper-slide">
                        <div class="card-box">
                            <img src="img/7.jpg" class="card-box-img" alt="">
                            <div class="box-content">
                                <h2 class="content-title">Spider: No Way Home</h2>
                                <span class="content-type">Action</span>
                                <span class="content-duration">128 min</span>
                                <span class="content-rate">Imdb: 7.5</span>
                                <a href="" class="play-btn hidden">
                                    <i class="bx bx-right-arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
    
                    <div class="swiper-slide">
                        <div class="card-box">
                            <img src="img/8.jpg" class="card-box-img" alt="">
                            <div class="box-content">
                                <h2 class="content-title">Spider: No Way Home</h2>
                                <span class="content-type">Action</span>
                                <span class="content-duration">128 min</span>
                                <span class="content-rate">Imdb: 7.5</span>
                                <a href="" class="play-btn hidden">
                                    <i class="bx bx-right-arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
    
                    <div class="swiper-slide">
                        <a href="">
                            <div class="card-box card-more">
                                <div class="card-more-cover"></div>
                                <div class="box-content">
                                    <h2 class="content-title">More</h2>
                                </div>
                            </div>
                        </a>
                    </div>
    
                </div>
            </div>
            <!-- Action -->
            <% for( let i = 0; i < genreSet.length; i++ ) { %>
                <div class="content-1 swiper">
                    <div class="heading">
                        <h3 class="heading-title"><%=  genreSet[i].charAt(0).toUpperCase() + genreSet[i].slice(1) %></h3>
                    </div> 
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
        
                        <% for( let k = 0; k < movies.length; k++ ) { %>
                            <% if (movies[k].genres.includes(genreSet[i])) { %>
                                <div class="swiper-slide">
                                    <div class="card-box">
                                        <img src="<%= movies[k].portraitImage %>" class="card-box-img" alt="">
                                        <div class="box-content">
                                            <% bookmarks.filter(item => { %>
                                                <% if ((item.title === movies[k].title)) { %>
                                                    <i class="bx bx-time card-bookmark"></i>
                                                <% } %>
                                            <% }) %>
                                            <a href="watch/<%= movies[k].slug %>"><h2 class="content-title"><%= movies[k].title %></h2></a>
                                            <span class="content-type"><%= movies[k].genres.slice(0,3) %></span>
                                            <span class="content-duration"><%= movies[k].duration %> min</span>
                                            <span class="content-rate">Imdb: <%= movies[k].rating %></span>
                                            <a href="watch/<%= movies[k].slug %>" class="play-btn hidden">
                                                <i class="bx bx-right-arrow"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div> 
                            <% } %>
                            
                        <% } %>
                        <div class="swiper-slide">
                            <a href="movies/<%= genreSet[i] %>">
                                <div class="card-box card-more">
                                    <div class="card-more-cover"></div>
                                    <div class="box-content">
                                        <h2 class="content-title">More</h2>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div> 
            <% } %>

        </div>
       </section>
 
    </section>  
        
    </div>

    <!-- Settings Tab -->
    <div class="side-tab hidden-tab settings-tab">
        <div class="tab-inside" tabindex="0">
            <h1 class="tab-title">Settings</h1>
            <div class="menu-tab">
                <ul class="tab-list">
                    <li tabindex="1" ><a tabindex='0' href=""><i class="bx bx-user"></i> <span>Account</span></a></li>
                    <li tabindex="2" ><a tabindex="0" href=""><i class="bx bxs-layout"></i> <span>Interface</span></a></li>
                    <li tabindex="3" ><a tabindex="0" href=""><i class="bx bx-play-circle"></i> <span>Player</span></a></li> 
                </ul>
            </div> 
        </div>

    </div> 

</body>
<script type="text/javascript" src="../style/main.js"></script>
<script src="../style/swiper-bundle.min.js"></script>
<script src="../style/slider.js"></script>
<script src="../style/navigator.js"></script>

</html>