<%- include('partials/header') %>

    <!-- Sidebar -->
    <%- include('partials/sidebar') %> 
    <% if (media.mediaType) { %>
     <!-- Single movie page -->
    <div class="movie-detail" id="">
        <input type="hidden" class="uid" value="<%= user.id %>">
        <div class="movie-image-full">
            <img src="<%= media.landscapeImage %>" alt="" class="movie-img">
        </div>
        <div class="res-image" >
            <img src="<%= media.portraitImage %>" class="" alt="">
        </div>
        <div class="movie-card">
                <div class="movie-card-box">
                    <img src="<%= media.portraitImage %>" class="movie-card-box-img" alt="">
                    <p class="media-type"><%= media.mediaType %></p>    
                <div class="movie-text">
                    <p class="movie-timezone"><%= media.releaseDate.split('-')[0] %>,<%= media.releaseCountry %></p>
                    <div>
                        <h2 class="movie-title"><%= media.title %></h2>
                        <p class="movie-second-title"><%= media.subTitle %></p>
                    </div>
                    <div class="movie-rating">
                        <div class="rating">
                            <p class="rate"><%= media.rating %></p>
                            <p class="rate-source">TMDB</p>
                        </div>
                        <div class="rating">
                            <p class="rate">6.9</p>
                            <p class="rate-source">IMDB</p>
                        </div>
                        <div class="pg">
                            <p><%= media.guidance %></p>
                        </div>
                    </div>
                    <ul class="movie-details">
                        <li class="movie-duration"><%= media.duration %> min</li>
                        <li class="movie-category"><%= media.genres.map(item => item.charAt(0).toUpperCase() + item.slice(1)).join(' | ') %></li>
                    </ul>
                    
                    <div class="release-date">
                        <p>Date of release: <span><%= media.releaseDate %></span></p>
                    </div>

                    <div class="movie-action">
                        <a href="#" class="btn btn-outline watch">
                            <i class="bx bx-play-circle"></i>
                        </a>
                        <a href="" class="btn btn-outline-bookmark bookmark-btn <%= bookmarks.filter(bookmark => String(bookmark.user) === user.id)[0] ? 'bookmarked' : ''  %>">
                            <i class="bx bx-bookmark"></i>  
                        </a>
                    </div>
                </div>
                </div>
                <div class="in-detail">
                            <div class="detail-text">
                                <h2>In detail</h2>
                                <p class="detail-description"><%= media.description %></p>
                            </div>
                            <div class="detail-genre">
                                <h3>Genre</h3>
                                <ul class="genre-list">
                                    <% media.genres.forEach(genre => { %>
                                    <li><a class="btn btn-black" href=""><%= genre %></a></li>
                                    <% }) %>
                                </ul>
                            </div>
                            <div class="detail-production">
                                <h3>Production</h3>
                                <ul class="production-list">
                                    <% media.production.forEach(production => { %>
                                        <li><a class="btn btn-black" href=""><%= production %></a></li>
                                    <% }) %>
                                </ul>
                            </div>

                            <div class="detail-cast">
                                <div class="producer swiper" id="producer-list">
                                    <h3>Producer</h3>
                                    <div class="swiper-wrapper" id="producer-wrapper">
                                        
                                    </div>
                                </div>

                                <div class="detail-actor swiper" id="cast-list">
                                    <h3>Actors</h3>
                                    <div class="swiper-wrapper" id="cast-wrapper">  

                                    </div>
                                </div>
                            </div>
                </div>
                <div class="recommendation-content">
                    <div class="recommendation-content-wrap swiper" id="scroll-content">
                        <h3>Recommendations</h3>
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="recommendation-items">
                                    <a href=""><img src="img/3.jpg" alt=""></a>
                                        <a href="" class="item-title">Spectre 007</a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="recommendation-items">
                                    <a href=""><img src="img/4.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="recommendation-items">
                                    <a href=""><img src="img/5.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="recommendation-items">
                                    <a href=""><img src="img/6.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="recommendation-items">
                                    <a href=""><img src="img/7.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="recommendation-items">
                                    <a href=""><img src="img/8.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="recommendation-items">
                                    <a href=""><img src="img/2.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="recommendation-items">
                                    <a href=""><img src="img/2.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="recommendation-items">
                                    <a href=""><img src="img/2.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="similar-content">
                    <div class="similar-content-wrap swiper" id="scroll-content">
                        <h3>Similar Movies</h3>
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="similar-items">
                                    <a href=""><img src="img/2.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="similar-items">
                                    <a href=""><img src="img/2.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="similar-items">
                                    <a href=""><img src="img/2.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="similar-items">
                                    <a href=""><img src="img/2.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="similar-items">
                                    <a href=""><img src="img/2.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="similar-items">
                                    <a href=""><img src="img/2.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="similar-items">
                                    <a href=""><img src="img/2.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="similar-items">
                                    <a href=""><img src="img/2.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="similar-items">
                                    <a href=""><img src="img/2.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div> 
        </div>
            
        
    </div>
    <!-- Movie Player -->
    <div class="moviePlayer player player-hidden">
        <div class="playerWrapper">
            <a class="backServers" href="javascript:void(0)" ><i class="bx bx-collection"></i></a>
            <a class="closePlayer" href="javascript:void(0)" onclick="window.location.reload()"><i class="bx bx-window-close"></i></a>
        </div>
         <iframe allow="encrypted-media" scrolling="no" id="iframe" src="" 
      width="100%" height="100%" frameborder="0" allowfullscreen></iframe> 
    </div>

    <!-- Stream Tab -->
    <div class="side-tab streamTab hidden-tab">
        <div class="tab-inside" tabindex="0">
            <div class="server-tab">
                <h3 class="tab-title">Servers</h3>
                <ul class="tab-list movie-tab-list"> 
                        <li tabindex="1" >
                            <a id="dolusrc" tabindex='0'  href="javascript:void(0)">
                                <i class="bx bx-play-circle"></i>
                                <p>
                                    <span class="main-span" style="font-weight: bolder;">Dolu</span>
                                Player
                                </p>
                            </a>
                        </li>
                        <!-- <li tabindex="1" ><a class="vdsrc" tabindex='0'  href="javascript:void(0)"><i class="bx bx-play-circle"></i> <span>Server 1</span></a></li>
                        <li tabindex="1" ><a class="spembed" tabindex='0' href="javascript:void(0)"><i class="bx bx-play-circle"></i> <span>Server 2</span></a></li>
                        <li tabindex="1" ><a class="gomo" tabindex='0' href="javascript:void(0)"><i class="bx bx-play-circle"></i> <span>Server 3</span></a></li>
                        <li tabindex="1" ><a class="aembed" tabindex='0' href="javascript:void(0)"><i class="bx bx-play-circle"></i> <span>Server 4</span></a></li> -->
                 </ul>
            </div>
            <div class="trailer-tab">
                <h3 class="tab-title">Trailers</h3>
                <ul class="tab-list" id="trailer-list">
        
            
                </ul>
            </div>
        </div>

    </div>



    <% } else {%>
    <!-- Single show page -->
    <div class="movie-detail" id="">
        <input type="hidden" class="uid" value="<%= user.id %>">
        <div class="movie-image-full">
            <img src="<%= media.landscapeImage %>" alt="" class="movie-img">
        </div>
        <div class="res-image" >
            <img src="<%= media.portraitImage %>" class="" alt="">
        </div>
        <div class="movie-card">
                <div class="movie-card-box">
                    <img src="<%= media.portraitImage %>" class="movie-card-box-img" alt="">
                    <p class="media-type">TV</p>    
                <div class="movie-text">
                    <p class="movie-timezone"><%= media.releaseDate.split('-')[0] %>,<%= media.releaseCountry %></p>
                    <div>
                        <h2 class="movie-title"><%= media.title %></h2>
                        <p class="movie-second-title"><%= media.subTitle %></p>
                    </div>
                    <div class="movie-rating">
                        <div class="rating">
                            <p class="rate">9.2</p>
                            <p class="rate-source">TMDB</p>
                        </div>
                        <div class="rating">
                            <p class="rate">6.9</p>
                            <p class="rate-source">IMDB</p>
                        </div>
                        <div class="pg">
                            <p><%= media.guidance %></p>
                        </div>
                    </div>
                    <ul class="movie-details">
                        <li class="show-season">Seasons: <%= media.season %></li>
                        <!-- <li class="show-episode">Episodes: 73</li> -->
                        <li class="movie-category"><%= media.genres.map(item => item.charAt(0).toUpperCase() + item.slice(1)).join(' | ') %></li>
                        <li class="reviews">Reviews: 12020</li>
                    </ul>
                    
                    <div class="release-date">
                        <p>Date of release: <span><%= media.releaseDate%></span></p>
                    </div>
                    <div class="movie-action">
                        <a href="#" class="btn btn-outline watch">
                            <i class="bx bx-play-circle"></i>
                        </a>
                        <a href="" class="btn btn-outline-bookmark bookmark-btn <%= bookmarks.filter(bookmark => String(bookmark.user) === user.id)[0] ? 'bookmarked' : ''  %>">
                            <i class="bx bx-bookmark"></i>  
                        </a>
                    </div>
                </div>
                </div>
                <div class="in-detail">
                            <div class="detail-text">
                                <h2>In detail</h2>
                                <p class="detail-description"><%= media.description %></p>
                            </div>
                            <div class="detail-genre">
                                <h3>Genre</h3>
                                <ul class="genre-list">
                                    <% media.genres.forEach(genre => { %>
                                    <li><a class="btn btn-black" href=""><%= genre %></a></li>
                                    <% }) %>
                                </ul>
                            </div>
                            <div class="detail-production">
                                <h3>Production</h3>
                                <ul class="production-list">
                                    <% media.production.forEach(production => { %>
                                        <li><a class="btn btn-black" href=""><%= production %></a></li>
                                    <% }) %>
                                </ul>
                            </div>

                            <div class="detail-cast">
                                <div class="producer swiper" id="producer-list">
                                    <h3>Producer</h3>
                                    <div class="swiper-wrapper" id="producer-wrapper">
                                        
                                    </div>
                                </div>

                                <div class="detail-actor swiper" id="cast-list">
                                    <h3>Actors</h3>
                                    <div class="swiper-wrapper" id="cast-wrapper">

                                        

                                    </div>
                                </div>
                            </div>
                </div>
                
                <div class="similar-content">
                    <div class="similar-content-wrap swiper" id="scroll-content">
                        <h3>Similar Movies</h3>
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="similar-items">
                                    <a href=""><img src="img/2.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="similar-items">
                                    <a href=""><img src="img/2.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="similar-items">
                                    <a href=""><img src="img/2.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="similar-items">
                                    <a href=""><img src="img/2.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="similar-items">
                                    <a href=""><img src="img/2.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="similar-items">
                                    <a href=""><img src="img/2.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="similar-items">
                                    <a href=""><img src="img/2.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="similar-items">
                                    <a href=""><img src="img/2.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="similar-items">
                                    <a href=""><img src="img/2.jpg" alt=""></a>
                                        <a href="" class="item-title">Hitman & Bodyguard 2</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
        </div>

        
 
 

    </div>
        <!-- Stream Tab -->
        <div class="side-tab hidden-tab streamTab">
            <div class="tab-inside" tabindex="0">
                <div class="server-tab">
                    <div class="tab-nav">
                        <h3 class="tab-title">Episodes</h3>
                        <select name="" class="season-list">
                            <% seasonSet.map(season => { %>
                            <option class="season" value=""><%= season %></option>
                            <% }) %>
                        </select>
                    </div>
                    <ul class="tab-list" id="show-episodes">
                         
                    </ul>
                </div>
                <div class="trailer-tab">
                    <h3 class="tab-title">Trailers</h3>
                    <ul class="tab-list" id="trailer-list">
               
                  
                    </ul>
                </div>
            </div>

        </div>
    <div class="tvPlayer player player-hidden">
        <div class="playerWrapper">
            <a class="backServers" href="javascript:void(0)" ><i class="bx bx-collection"></i></a>
            <a class="closePlayer" href="javascript:void(0)" onclick="window.location.reload()"><i class="bx bx-window-close"></i></a>
        </div>
        <ul class="embed-options">
            <li><button class="dolusrc">Dolu</button></li>
            <li><button class="vdsrc">Server 1</button></li>
            <li><button class="spembed">Server 2</button></li>
            <li><button class="aembed">Server 3</button></li>
            <li><button class="gomo">Server 4</button></li>
        </ul> 
         
    </div>
    <% } %>

<!-- Settings TAB -->
<div tabindex="-1" class="side-tab settings-tab hidden-tab">
    <div class="tab-inside">
        <div class="tab-head">
            <h1 class="tab-title">Settings</h1>
             <button class="backBtn" style="display: none;"><i class='bx bx-left-arrow-alt'></i></button>
        </div>
        <div class="menu-tab">
            <ul class="tab-list " data-tab-type="Main">
                <li tabindex="1" class="tab-li" data-sub-name="Account" ><a tabindex='0' href="#"><i class="bx bx-user"></i> <span>Account</span></a></li>
                <li tabindex="2" class="tab-li" data-sub-name="Interface" ><a tabindex="0" href="#"><i class="bx bxs-layout"></i> <span>Interface</span></a></li>
                <li tabindex="3" class="tab-li" ><a tabindex="0" href="#"><i class="bx bx-play-circle"></i> <span>Player</span></a></li> 
            </ul>

            <!-- Account Details -->
            <ul class="tab-list"  style="display: none;" data-tab-name="Account">
                <li tabindex="1" class="tab-li"><a class="subTabLink" tabindex='0' href="javascript:void(0)"><span>Logged as Igidali</span></a></li>
                <p class="param-title">Account details</p> 
                <li tabindex="1" class="tab-li" data-sub-name="Username" ><a class="subTabLink" tabindex='0' href="javascript:void(0)"><span>Username</span></a></li>
                <li tabindex="1" class="tab-li" data-sub-name="Email" ><a class="subTabLink" tabindex='0' href="javascript:void(0)"><span>Email</span></a></li>
                <li tabindex="1" class="tab-li" data-sub-name="Password" ><a class="subTabLink" tabindex='0' href="javascript:void(0)"><span>Password</span></a></li>
                <li tabindex="1" class="tab-li" data-sub-name="Avatar" ><a class="subTabLink" tabindex='0' href="javascript:void(0)"><span>Avatar</span></a></li>
             </ul>  

            <!-- Interface -->                
            <ul class="tab-list" style="display: none;" data-tab-name="Interface">
                <li tabindex="1" class="tab-li" data-sub-name="Interface Language" >
                    <a class="subTabLink" id="languageLi" tabindex='0' href="javascript:(void)">
                        <span>Interface Language</span>
                        <ul class="languageList">
                            <li data-lang="English" >English</li>
                            <li data-lang="Turkish" style="display: none;">Turkish</li>
                            <li data-lang="Azerbaijani" style="display: none;">Azerbaijani</li>
                            <li data-lang="Russian" style="display: none;">Russian</li>
                        </ul>

                    </a>
                  
                </li>
            </ul> 
             
        </div> 
    </div>

</div>

    <!-- Bookmarks Tab -->
    <div class="side-tab hidden-tab bookmarks-tab">
        <div class="tab-inside" tabindex="0">
            <h1 class="tab-title">Bookmarks</h1>
            <div class="menu-tab">
                <ul class="tab-list">

                    <% for( let i = 0; i < user.bookmarks.length; i++ ) { %>
                        <li tabindex="1" >
                            <label class="label-container" tabindex='0'>
                                <span id="<%= user.bookmarks[i].bookmark %>"><%= user.bookmarks[i].bookmark.split('-')[0] %></span>
                                <% for( let k = 0; k < bookmarks.length; k++ ) { %>
                                    <% if (bookmarks[k].bookmark === user.bookmarks[i].bookmark) { %>
                                        <input type="checkbox" checked> 
                                    <% } %>
                                <% } %>
                                <input type="checkbox">  
                                <span class="checkmark"></span>
                            </label>
                        </li> 
                    <% } %>

                </ul>
            </div> 
        </div>

    </div>

</body>
<script src="../style/swiper-bundle.min.js"></script>
<script src="../style/main.js"></script>
<script src="../style/slider.js"></script>
<script src="../style/navigator.js"></script>

</html>