<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="index.html" class="app-brand-link">
 
        <span class="app-brand-text demo menu-text fw-bolder ms-2">Dolu</span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      <li class="menu-item <%= pageName === 'index' ? 'active' : '' %>">
        <a href="/dashboard" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">Dashboard</div>
        </a>
      </li> 

      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Content</span>
      </li>
      <li class="menu-item <%= pageName === 'movies' ? 'active' : '' %>">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-movie"></i>
          <div data-i18n="Account Settings">Movies</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="/dashboard/movies" class="menu-link">
              <div data-i18n="MovList">Movie List</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="/dashboard/movies/add-new-movie" class="menu-link">
              <div data-i18n="Add New">Add New</div>
            </a>
          </li> 
        </ul>
      </li>

      <li class="menu-item <%= pageName === 'shows' ? 'active' : '' %>">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-play"></i>
          <div data-i18n="Account Settings">TV Shows</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="/dashboard/tv-shows" class="menu-link">
              <div data-i18n="TvList">Show List</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="/dashboard/tv-shows/add-new-show" class="menu-link">
              <div data-i18n="Add New">Add New Show</div>
            </a>
          </li>  
        </ul>
      </li>    

      <!-- Extended components -->
      <!-- <li class="menu-item">
        <a href="javascript:void(0)" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-copy"></i>
          <div data-i18n="Extended UI">Extended UI</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="extended-ui-perfect-scrollbar.html" class="menu-link">
              <div data-i18n="Perfect Scrollbar">Perfect scrollbar</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="extended-ui-text-divider.html" class="menu-link">
              <div data-i18n="Text Divider">Text Divider</div>
            </a>
          </li>
        </ul>
      </li>  -->

      <!-- Forms & Tables -->
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Manage</span></li>
      <!-- Forms -->
      <li class="menu-item <%= pageName === 'users' ? 'active' : '' %>">
        <a href="javascript:void(0)" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-user"></i>
          <div data-i18n="Users">Users</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="/dashboard/users" class="menu-link">
              <div data-i18n="User List">User List</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="/dashboard/users/banned-users" class="menu-link">
              <div data-i18n="Banned">Banned Users</div>
            </a>
          </li>
        </ul>
      </li>

      <li class="menu-item">
        <a href="menu" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-menu"></i>
          <div data-i18n="Form Layouts">Menu</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="menu/header-menu" class="menu-link">
              <div data-i18n="Categories">Header Menu</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="menu/footer-menu" class="menu-link">
              <div data-i18n="Footer Menu">Footer Menu</div>
            </a>
          </li>
        </ul>
      </li> 
      <li class="menu-item">
        <a href="categories" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-category"></i>
          <div data-i18n="Form Layouts">Categories</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="categories" class="menu-link">
              <div data-i18n="Categories">Category List</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="categories/sub-category" class="menu-link">
              <div data-i18n="Sub Category">Sub Categories</div>
            </a>
          </li>
        </ul>
      </li> 
      
      <!-- Components -->
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Components</span></li>
      <!-- Sliders -->
      <li class="menu-item <%= pageName === 'sliders' ? 'active' : '' %>">
        <a href="javascript:void(0)" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-collection"></i>
          <div data-i18n="Sliders">Sliders</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="/dashboard/sliders" class="menu-link">
              <div data-i18n="Slider List">Slider List</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="/dashboard/users" class="menu-link">
              <div data-i18n="Add Slider">Add Slider</div>
            </a>
          </li>
        </ul>
      </li>

      <!-- Settings -->
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Settings</span></li>
       <!-- User interface -->
       <li class="menu-item">
        <a href="user-interface" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-box"></i>
          <div data-i18n="User interface">User interface</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="logo-favicon" class="menu-link">
              <div data-i18n="Logo">Logo & Favicon</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="language" class="menu-link">
              <div data-i18n="Language">Language</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="app-services" class="menu-link">
              <div data-i18n="Apps">Apps</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="social-links" class="menu-link">
              <div data-i18n="Social Links">Social Links</div>
            </a>
          </li>   
        </ul>
      </li> 
      <li class="menu-item">
        <a href="general-settings" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-cog"></i>
          <div data-i18n="General">General</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="logo-favicon" class="menu-link">
              <div data-i18n="Site">Site</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="seo" class="menu-link">
              <div data-i18n="seo">SEO</div>
            </a>
          </li>  
        </ul>
      </li> 
    </ul>
  </aside>